.listOfProducts {
  position: absolute;
  top: 800px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
}
@media only screen and (max-width: 1200px) {
  .listOfProducts {
    gap: 10px;
  }
  .HEADPHONES,
  .SPEAKERS,
  .EARPHONES {
    width: 31%;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 800px) {
  .HEADPHONES,
  .SPEAKERS,
  .EARPHONES {
    width: 29.5%;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 574px) {
  .HEADPHONES,
  .SPEAKERS,
  .EARPHONES {
    width: 85%;
    display: block;
    white-space: nowrap;
    height: 70px;
  }
  .listOfProducts {
    position: absolute;
    top: 1120px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }
}

.listOfProducts a:hover {
  color: #d87d4a;
  cursor: pointer;
}
.HEADPHONES,
.SPEAKERS,
.EARPHONES {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 90px;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.HEADPHONES img,
.SPEAKERS img,
.EARPHONES img {
  margin: 0;
  padding: 0;
  height: 190px;
  width: 170px;
  position: relative;
  top: -160px;
}
.HEADPHONES,
.SPEAKERS,
.EARPHONES {
  h3 {
    padding: 0;
    margin-bottom: 10px;
    position: relative;
    top: -160px;
    letter-spacing: 0.05cm;
  }
}
.HEADPHONES,
.SPEAKERS,
.EARPHONES {
  a {
    margin-left: 5px;
    position: relative;
    font-size: 14px;
    top: -160px;
  }
}

.HEADPHONES,
.SPEAKERS,
.EARPHONES {
  svg {
    margin-left: 5px;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////

.speaker_section {
  background-color: $primaryColor;
  position: relative;
  width: 60%;
  height: 600px;
  top: 1175px;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background-image: url('/assets//home/desktop/pattern-circles.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -300px;
  picture {
    position: absolute;
    height: 435px;
    width: 100%;
    object-fit: contain;
    align-self: flex-end;
    img {
      width: 370px;
      height: 447px;
      margin-top: -0.3rem;
      margin-left: 5rem;
    }
  }
}

.speaker_section_aside {
  position: relative;
  align-self: center;
  width: 100%;
  margin-left: 38rem;
}

.title {
  position: relative;
  margin-top: -125px;
  height: 116px;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: white;
}

.speaker_btn {
  position: absolute;
  background-color: black;
  color: #fff;
  font-weight: bold;
  margin-top: 25px;
}

//////////////////////////////////////////////////////////////////////

.speaker_zx7_section {
  position: absolute;
  width: 60%;
  left: 20%;
  height: 350px;
  top: 1850px;
  margin: auto;
  border-radius: 8px;
  img {
    border-radius: 8px;
    width: 100%;
    height: 320px;
  }
  .secondary_btn {
    margin-top: 30px;
    @include secondary_button();
  }
}
.zx7_section_aside {
  position: absolute;
  left: 100px;
  top: 95px;
}
.zx7_title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  color: #000000;
}

//////////////////////////////////////////////////////////////////////

.headphone_section {
  position: absolute;
  top: 2240px;
  left: 20%;
  width: 29%;
  border-radius: 8px;
  img {
    height: 350px;
    width: 100%;
    border-radius: 8px;
  }
}

.headpone_div {
  position: absolute;
  background-color: #e8e8e8;
  width: 29%;
  height: 350px;
  top: 2240px;
  right: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  .secondary_btn {
    @include secondary_button();
    position: relative;
    width: 168px;
    padding: 14px 32px;
    left: 18%;
    margin-top: 70px;
  }
}
.headpone_name {
  position: absolute;
  left: 18%;
  margin-top: -90px;
}

//////////////////////////////////////////////////////////////////////

.history_section {
  position: absolute;
  top: 2740px;
  left: 20%;
  width: 29%;
}

.history_img {
  position: absolute;
  width: 29%;
  height: 600px;
  top: 2740px;
  right: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    height: 600px;
    width: 100%;
    border-radius: 3%;
  }
}

.history_title {
  position: relative;
  height: 88px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  margin-top: 30%;
  width: 100%;
  color: #000000;
  span {
    color: #d87d4a;
  }
}

.gear-descriprion {
  @include productDescription();
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 30px;
  width: 80%;
}

@media only screen and (max-width: 1569px) {
  .speaker_section {
    width: 80%;
  }

  .speaker_section_aside {
    margin-left: 57%;
  }
  picture {
    margin-left: -10px;
  }
  //////////////////////////
  .speaker_zx7_section {
    width: 80.5%;
    left: 10.5%;

    .secondary_btn {
      margin-top: 15px;
    }
  }
  //////////////////////////////

  .headphone_section {
    left: 10.5%;
    width: 40%;
    height: 100px;
  }
  .headpone_div {
    width: 37%;
    right: 10%;
  }
  ////////////////////////////
  .history_section {
    left: 10.5%;
    width: 40%;
    width: 39%;
  }

  .history_img {
    width: 36%;
    right: 10%;
  }
}

@media only screen and (max-width: 1026px) {
  .speaker_section {
    display: flex;
    flex-direction: row;
    height: 1000px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 90%;
    background-position: center;
    background-position-y: -330px;
    img {
      position: relative;
      top: -500px;
      left: -45px;
    }
    .speaker_section_aside {
      margin: 0;
      margin-top: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .title {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 230px;
    }
  }
  /////////////////////////////
  .speaker_zx7_section {
    width: 90%;
    left: 6%;
    top: 2250px;
    .secondary_btn {
      margin-top: 10px;
    }
  }
  .zx7_section_aside {
    position: absolute;
    left: 4rem;
    top: 6.5rem;
  }
  ////////////////////////
  .headphone_section {
    top: 2600px;
    width: 50%;
    left: 6%;
  }
  .headpone_div {
    top: 2600px;
    width: 38%;
    right: 5%;
  }
  //////////////////////////
  .history_section {
    position: absolute;
    top: 3290px;
    left: 12.5%;
    width: 75%;
    text-align: center;

    p {
      width: 95%;
      margin: 0 auto;
      align-self: center;
      margin-top: 5%;
    }
  }

  .history_img {
    top: 3070px;
    flex-direction: row-reverse;
    width: 90%;
    left: 6%;
    img {
      height: 340px;
    }
  }
}
@media only screen and (max-width: 574px) {
  .speaker_section {
    display: flex;
    flex-direction: column;
    height: 760px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 90%;
    top: 1600px;
    background-position-y: -170px;
    picture {
      img {
        position: relative;
        top: -90px;
        left: -45px;
        height: 260px;
        width: 220px;
      }
    }
    .speaker_section_aside {
      margin-top: 550px;
    }
  }
  .speaker_zx7_section {
    position: absolute;
    margin-top: 150px;
    left: 6.5%;
    .zx7_section_aside {
      margin-left: -3rem;
    }
    img {
      width: 100%;
    }
  }
  ///////////////////////////////
  .headphone_section {
    top: 2760px;
    width: 91%;
    left: 6%;
  }
  .headpone_div {
    top: 3170px;
    width: 91%;
    left: 4%;
  }
  ////////////////////////////////
  .history_section {
    top: 3880px;
    width: 90%;
    text-align: center;
    margin-left: -8%;
    p {
      width: 100%;
      margin: 0 auto;
      align-self: center;
      margin-top: 13%;
      text-align: center;
    }
  }

  .history_img {
    top: 3630px;
    flex-direction: row-reverse;
    width: 90%;
    left: 6%;
    img {
      height: 340px;
    }
  }
}
